.DS_Store
Thumbs.db
*.local
*.log

.vscode/
.idea/
*.suo
*.sw?

node_modules/
.env
*.env

frontend/.angular/
frontend/dist/
frontend/out-tsc/
frontend/tmp/
frontend/coverage/
frontend/e2e/test-output/
frontend/.tsbuildinfo


backend/dist/
backend/thunder-tests/
backend/postman/

mysql_data/
.mysql/
*.sql.gz
*.sqlite